<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Library Books Issue</title>
<link rel="stylesheet" href="https://jarvis-amoc.herokuapp.com/static/css/style.css">
</head>
<body>
  <hgroup>
  <h1>Library Books Issue</h1>
</hgroup>
  <script type="text/javascript">

function doit(field){
  var e = document.getElementById(field);

  e.className = 'used';
}

 </script>
<form action="https://jarvis-amoc.herokuapp.com/book_issue_post" method="Post">
  <div class="group">
    <input type="text" name="stu_no" id="stu_no" onblur="doit(this.id)"><span class="highlight"></span><span class="bar"></span>
    <label>Student's Roll No.</label>
  </div>
  <div class="group">
    <input type="text" name="b_name" id="b_name" onblur="doit(this.id)"><span class="highlight"></span><span class="bar"></span>
    <label>Book Name</label>
  </div>
  <div class="group">
    <p id="label">Issue Date</p>
    <p id="i_date">
<script> document.write(new Date().toLocaleDateString()); </script>
</p>
<hr>
  </div>
  <div class="group">
    <p id="label">Due Date</p>
    <p id="d_date">
<script>
var dt = new Date();
dt.setDate(dt.getDate() + 15);
var dd = dt.getDate();
var mm = dt.getMonth() + 1;
var y = dt.getFullYear();

var due_date = dd + '/'+ mm + '/'+ y;
console.log(due_date);
 document.write(due_date);   </script>
</p>
<hr>
  </div>
  <button type="submit" class="button buttonBlue">Submit
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
</body>
</html>
