<!DOCTYPE html>
<html >
<head>
  <meta name="viewport" content="width=device-width" />
  <meta charset="UTF-8">
  <title>Student Chapter form</title>
<link rel="stylesheet" href="https://jarvis-amoc.herokuapp.com/static/css/style.css">
</head>
<style media="screen">
@media only screen and (max-device-width : 400px) and (-webkit-min-device-pixel-ratio: 2){
form{
  width: 100%;
}
}

.cb{
  font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: inline;
	background: #fafafa;
	color: #636363;
	width: 10%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}
.cbl{
  color: #999;
	font-size: 18px;
	font-weight: normal;
	position: relative !important;
	pointer-events: none;
	left: 0px !important;
	top: 0px !important;
	-webkit-transition:all 0.2s ease;
	transition: all 0.2s ease;
}
</style>
<body>
  <hgroup>
  <h1>Student Chapter Notification</h1>
</hgroup>
<form action="https://jarvis-amoc.herokuapp.com/send_notification_stu_chap_post" method="Post">
  <div class="group">
    <input type="text" name="chp_name" id="chp_name" onblur="doit('chp_name')" required><span class="highlight"></span><span class="bar"></span>
    <label>Chapter Name</label>
  </div>
  <div class="group">
    <input type="text" name="eve_name" id="eve_name" onblur="doit('eve_name')" required><span class="highlight"></span><span class="bar"></span>
    <label>Event Name</label>
  </div>
<div class="group">
    <input type="text" name="eve_dscp" id="eve_dscp" onblur="doit('eve_dscp')" required><span class="highlight"></span><span class="bar"></span>
    <label>Event Description</label>
  </div>
<div class="group">
    <input type="text" name="eve_poster_url" id="eve_poster_url" onblur="doit('eve_poster_url')" required><span class="highlight"></span><span class="bar"></span>
    <label>Event Poster URL</label>
  </div>
  <div class="group">
    <input type="text" name="date" id="date" onblur="doit('date')"  required><span class="highlight"></span><span class="bar"></span>
    <label>Date</label>
  </div>
  <div class="group">
    <input type="text" name="time" id="time" onblur="doit('time')" required><span class="highlight"></span><span class="bar"></span>
    <label>Time</label>
  </div>
  <div class="group">
    <input type="text" name="venue" id="venue" onblur="doit('venue')" required><span class="highlight"></span><span class="bar"></span>
    <label>Venue</label>
  </div>
<div class="group">
    <input type="text" name="tar_yr" id="tar_yr" onblur="doit('tar_yr')" required><span class="highlight"></span><span class="bar"></span>
    <label>Target Year</label>
  </div>
  <div>
    Target Year
    <br>
      <label class="cbl" for = "tar_yr1">I</label>
      <input class="cb" type="checkbox" name="tar_yr1" id="tar_yr1" value="one">
      <label class="cbl" for = "tar_yr2">II</label>
      <input class="cb"  type="checkbox" name="tar_yr1" id="tar_yr2" value="2">
      <label class="cbl" for = "tar_yr3">III</label>
      <input class="cb" type="checkbox" name="tar_yr1" id="tar_yr3" value="3">
      <label class="cbl" for = "tar_yr4">IV</label>
      <input class="cb" type="checkbox" name="tar_yr1" id="tar_yr4" value="4">
      <label class="cbl" for = "tar_yr5">V</label>
      <input class="cb" type="checkbox" name="tar_yr1" id="tar_yr5" value="5">

    </div>
  <button type="submit" class="button buttonBlue">Submit
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/core.js"></script>
  <script  type="text/javascript">
 function doit(field){
  var e = document.getElementById(field);

  e.className = 'used';
}
  </script>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>


</body>
</html>
