<!DOCTYPE html>
<html >
<head>
  <meta name="viewport" content="width=device-width" />
  <meta charset="UTF-8">
  <title>Library Books info</title>
<link rel="stylesheet" href="https://jarvis-amoc.herokuapp.com/static/css/style.css">
</head>
<style media="screen">
@media only screen and (max-device-width : 400px) and (-webkit-min-device-pixel-ratio: 2){
form{
  width: 100%;
}
}
</style>

<body>
  <script type="text/javascript">

function doit(field){
  var e = document.getElementById(field);

  e.className = 'used';
}

 </script>
  <hgroup>
  <h1>Library Books info</h1>
</hgroup>
<form action="https://jarvis-amoc.herokuapp.com/book_entry_post" method="Post">
  <div class="group">
    <input type="text" name="id" id="id" onblur="doit(this.id)" required><span class="highlight"></span><span class="bar"></span>
    <label>Book ID</label>
  </div>
  <div class="group">
    <input type="text" name="b_name" id="b_name" onblur="doit(this.id)" required><span class="highlight"></span><span class="bar"></span>
    <label>Book Name</label>
  </div>
  <div class="group">
    <input type="text" name="a_name" id="a_name" onblur="doit(this.id)" required><span class="highlight"></span><span class="bar"></span>
    <label>Author Name</label>
  </div>
  <div class="group">
    <input type="text" name="price" id="price" onblur="doit(this.id)" required><span class="highlight"></span><span class="bar"></span>
    <label>Price</label>
  </div>
  <div class="group">
    <input type="text" name="noc" id="noc" onblur="doit(this.id)" required><span class="highlight"></span><span class="bar"></span>
    <label>No. of Copies</label>
  </div>

  <button type="submit" class="button buttonBlue">Submit
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>

</body>
</html>
